pymongo
pymongo[srv]
dnspython
pandas
numpy
ensure


# dev requirements -
setuptools
pytest==7.1.3
tox==3.25.1
black==22.8.0 #for syntax errors
flake8==5.0.4 #for syntax erros
mypy==0.971

-e .